/*
    Table of Contents

    Variables
        colors
        font-sizes

    Utilities
        #Text-styleing
        #Font-Styleing

    Grid
        #grid

    Color Attributes
        background colors
        colors

    Special elements
        h1-h6
        bq
        p
        cite
        anchor / a
        button / btn

*/


/*----------------------------------------------------*/
/*                   Variables                        */
/*----------------------------------------------------*/
:root {
    /*
        Colors
    */

    /*
        First CLRS from From http://clrs.cc/
    */
       --clrs-navy: #001f3f;
       --clrs-blue: #0074D9;
       --clrs-aqua: #7FDBFF;
       --clrs-teal: #39CCCC;
      --clrs-olive: #3D9970;
      --clrs-green: #2ECC40;
       --clrs-lime: #01FF70;
     --clrs-yellow: #FFDC00;
     --clrs-orange: #FF851B;
        --clrs-red: #FF4136;
     --clrs-maroon: #85144b;
    --clrs-fuchsia: #F012BE;
     --clrs-purple: #B10DC9;
      --clrs-black: #111111;
       --clrs-gray: #AAAAAA;
     --clrs-silver: #DDDDDD;
      --clrs-white: #ffffff;


    /*
        Custom Colors

        green1 -- success1
        green2 -- success2
        blue1 -- info1
        blue2 -- info2
        purple1 -- accent1
        purple2 -- accent2
        darkgray1 -- accent-gray1
        darkgray2 -- accent-gray2
        yellow -- suprise
        orange1 -- warning1
        orange2 -- warning2
        red1 -- danger1
        red2 -- danger2
        lightgray1 -- lightgray1 (might be text color?)
        lightgray2 -- lightgray2 (not sure what these will be)
    */

    --clr-green1:     #2ecc71;
    --clr-green2:     #16a085;
    --clr-blue1:      #3498db;
    --clr-blue2:      #2980b9;
    --clr-purple1:    #9b59b6;
    --clr-purple2:    #8e44ad;
    --clr-darkgray1:  #34495e;
    --clr-darkgray2:  #2c3e50;
    --clr-yellow1:    #F5D76E;
    --clr-yellow2:    #F7CA18;
    --clr-orange1:    #f39c12;
    --clr-orange2:    #e67e22;
    --clr-red1:       #e74c3c;
    --clr-red2:       #c0392b;
    --clr-lightgray1: #ecf0f1;
    --clr-lightgray2: #95a5a6;


    /*
        Font Variables

        base font-size (used to be 1em -- calc(112.5% + 0.25vw))
        h1 (used to be 3em)
        h2 (used to be 2.8em)
        h3 (used to be 2.6em)
        h4 (used to be 2.4em)
        h5 (used to be 2.2 em)
        h6 (used to be 2em)
        small (used to be 0.8em)
        blockquote (used to be 1.5em)

    */
    --font-base-desktop-hd-size:  1.5vw;
    --font-base-desktop-size:     2vw;
    --font-base-tablet-size:      2.5vw;
    --font-base-phablet-size:     3vw;
    --font-base-mobile-size:      3.5vw;
    --font-base-size:             4vw;
    /*
    --font-h1-size:    calc((112.5% + 0.25vw) * 2.3);
    --font-h2-size:    calc((112.5% + 0.25vw) * 1.7);
    --font-h3-size:    calc((112.5% + 0.25vw) * 1.5);
    --font-h4-size:    calc((112.5% + 0.25vw) * 1.3);
    --font-h5-size:    calc((112.5% + 0.25vw) * 1.1);
    --font-h6-size:    calc((112.5% + 0.25vw) * 0.9);
    --font-p-size:     calc(112.5% + 0.25vw);
    --font-small-size: calc((112.5% + 0.25vw) * 0.7);
    --font-bq-size:    calc((112.5% + 0.25vw) * 1.6);
    */


}

/*----------------------------------------------------*/
/*                   Utilities                        */
/*----------------------------------------------------*/

html {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-base-size);
}
/* Larger than mobile */
@media (min-width: 400px) {
    html {
        font-size: var(--font-base-mobile-size);
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    html {
        font-size: var(--font-base-phablet-size);
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    html {
        font-size: var(--font-base-tablet-size);
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    html {
        font-size: var(--font-base-desktop-size);
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    html {
        font-size: var(--font-base-desktop-hd-size);
    }
}



/*
    text alignment
    tal = text align left
    tar = text align right
    tac = text align center
    taj = text align justify
*/

.utilities__tal {
    text-align: left;
}
.utilities__tar {
    text-align: right;
}
.utilities__tac {
    text-align: center;
}
.utilities__taj {
    text-align: justify;
}

/*
    #Font-Styleing
    .utilities__caps -> capitalize
    .utilities__lowercase -> lowercase
    .utilities__uppercase -> uppercase
*/
.utilities__caps {
    text-transform: capitalize;
}
.utilities__lowercase {
    text-transform: lowercase;
}
.utilities__uppercase {
    text-transform: uppercase;
}
/*
    Floats
    fl = float left
    fr = float right
    cf = clearfix
    ->  Apply to the parent container that contains floats
*/

.utilities__fl {
    float: left;
}
.utilities__fr {
    float: right;
}
.utilities__cf:after {
    clear: both;
    content: "";
    display: table;
}

/*
    Margins
    m1 - m5 = General all around margins percentage based
        m10, m20, m25, m30, m40, m50 = general percentage based margins
    mh1 - mh5 = Horizontal margins percentage based
        mh10, mh20, mh25, mh30, mh40, mh50 = Horizontal percentage based margins
    mv1 - mv5 = Vertical margins percentage based
        mv10, mv20, mv25, mv30, mv40, mv50 = Vertical percentage based margins
*/
.trump_utilities__m0 {
    margin: 0 0 !important;
}
.utilities__m1 {
    margin: 1% 1%;
}
.utilities__m2 {
    margin: 2% 2%;
}
.utilities__m3 {
    margin: 3% 3%;
}
.utilities__m4 {
    margin: 4% 4%;
}
.utilities__m5 {
    margin: 5% 5%;
}
.utilities__m10 {
    margin: 10% 10%;
}
.utilities__m20 {
    margin: 20% 20%;
}
.utilities__m25 {
    margin: 25% 25%;
}
.utilities__m30 {
    margin: 30% 30%;
}
.utilities__m40 {
    margin: 40% 40%;
}
.utilities__m50 {
    margin: 50% 50%;
}

.trump_utilities__mh0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.utilities__mh1 {
    margin-left: 1%;
    margin-right: 2%;
}
.utilities__mh2 {
    margin-left: 2%;
    margin-right: 2%;
}
.utilities__mh3 {
    margin-left: 3%;
    margin-right: 3%;
}
.utilities__mh4 {
    margin-left: 4%;
    margin-right: 4%;
}
.utilities__mh5 {
    margin-left: 5%;
    margin-right: 5%;
}
.utilities__mh10 {
    margin-left: 10%;
    margin-right: 10%;
}
.utilities__mh20 {
    margin-left: 20%;
    margin-right: 20%;
}
.utilities__mh25 {
    margin-left: 25%;
    margin-right: 25%;
}
.utilities__mh30 {
    margin-left: 30%;
    margin-right: 30%;
}
.utilities__mh40 {
    margin-left: 40%;
    margin-right: 40%;
}
.utilities__mh50 {
    margin-left: 50%;
    margin-right: 50%;
}

.trump_utilities__mv0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.utilities__mv1 {
    margin-top: 1%;
    margin-bottom: 2%;
}
.utilities__mv2 {
    margin-top: 2%;
    margin-bottom: 2%;
}
.utilities__mv3 {
    margin-top: 3%;
    margin-bottom: 3%;
}
.utilities__mv4 {
    margin-top: 4%;
    margin-bottom: 4%;
}
.utilities__mv5 {
    margin-top: 5%;
    margin-bottom: 5%;
}
.utilities__mv10 {
    margin-top: 10%;
    margin-bottom: 10%;
}
.utilities__mv20 {
    margin-top: 20%;
    margin-bottom: 20%;
}
.utilities__mv25 {
    margin-top: 25%;
    margin-bottom: 25%;
}
.utilities__mv30 {
    margin-top: 30%;
    margin-bottom: 30%;
}
.utilities__mv40 {
    margin-top: 40%;
    margin-bottom: 40%;
}
.utilities__mv50 {
    margin-top: 50%;
    margin-bottom: 50%;
}

/*
    Padding
    p1 - p5 = General all around padding percentage based
        p10, p20, p25, p30, p40, p50 = general percentage based padding
    ph1 - ph5 = Horizontal padding percentage based
        ph10, ph20, ph25, ph30, ph40, ph50 = Horizontal percentage based padding
    pv1 - pv5 = Vertical padding percentage based
        pv10, pv20, pv25, pv30, pv40, pv50 = Vertical percentage based padding
*/
.trump_utilities__p0 {
    padding: 0 0 !important;
}
.utilities__p1 {
    padding: 1% 1%;
}
.utilities__p2 {
    padding: 2% 2%;
}
.utilities__p3 {
    padding: 3% 3%;
}
.utilities__p4 {
    padding: 4% 4%;
}
.utilities__p5 {
    padding: 5% 5%;
}
.utilities__p10 {
    padding: 10% 10%;
}
.utilities__p20 {
    padding: 20% 20%;
}
.utilities__p25 {
    padding: 25% 25%;
}
.utilities__p30 {
    padding: 30% 30%;
}
.utilities__p40 {
    padding: 40% 40%;
}
.utilities__p50 {
    padding: 50% 50%;
}

.trump_utilities__ph0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.utilities__ph1 {
    padding-left: 1%;
    padding-right: 2%;
}
.utilities__ph2 {
    padding-left: 2%;
    padding-right: 2%;
}
.utilities__ph3 {
    padding-left: 3%;
    padding-right: 3%;
}
.utilities__ph4 {
    padding-left: 4%;
    padding-right: 4%;
}
.utilities__ph5 {
    padding-left: 5%;
    padding-right: 5%;
}
.utilities__ph10 {
    padding-left: 10%;
    padding-right: 10%;
}
.utilities__ph20 {
    padding-left: 20%;
    padding-right: 20%;
}
.utilities__ph25 {
    padding-left: 25%;
    padding-right: 25%;
}
.utilities__ph30 {
    padding-left: 30%;
    padding-right: 30%;
}
.utilities__ph40 {
    padding-left: 40%;
    padding-right: 40%;
}
.utilities__ph50 {
    padding-left: 50%;
    padding-right: 50%;
}

.trump_utilities__pv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.utilities__pv1 {
    padding-top: 1%;
    padding-bottom: 2%;
}
.utilities__pv2 {
    padding-top: 2%;
    padding-bottom: 2%;
}
.utilities__pv3 {
    padding-top: 3%;
    padding-bottom: 3%;
}
.utilities__pv4 {
    padding-top: 4%;
    padding-bottom: 4%;
}
.utilities__pv5 {
    padding-top: 5%;
    padding-bottom: 5%;
}
.utilities__pv10 {
    padding-top: 10%;
    padding-bottom: 10%;
}
.utilities__pv20 {
    padding-top: 20%;
    padding-bottom: 20%;
}
.utilities__pv25 {
    padding-top: 25%;
    padding-bottom: 25%;
}
.utilities__pv30 {
    padding-top: 30%;
    padding-bottom: 30%;
}
.utilities__pv40 {
    padding-top: 40%;
    padding-bottom: 40%;
}
.utilities__pv50 {
    padding-top: 50%;
    padding-bottom: 50%;
}

/*
    A utility class to make your article look really nice
*/

.utilities__cleanArticle {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}
.utilities__fillParent {
    width: 100% !important;
}

.height--10 {
    min-height: 10vh;
}
.height--10-mlh{
    line-height: 10vh;
}
.height--20 {
    min-height: 20vh;
}
.height--20-mlh{
    line-height: 20vh;
}
.height--30 {
    min-height: 30vh;
}
.height--30-mlh{
    line-height: 30vh;
}
.height--40 {
    min-height: 40vh;
}
.height--40-mlh{
    line-height: 40vh;
}
.height--50 {
    min-height: 50vh;
}
.height--50-mlh{
    line-height: 50vh;
}
.height--60 {
    min-height: 60vh;
}
.height--60-mlh{
    line-height: 60vh;
}
.height--70 {
    min-height: 70vh;
}
.height--70-mlh{
    line-height: 70vh;
}
.height--80 {
    min-height: 80vh;
}
.height--80-mlh{
    line-height: 80vh;
}
.height--90 {
    min-height: 90vh;
}
.height--90-mlh{
    line-height: 90vh;
}
.height--100 {
    min-height: 100vh;
}
.height--100-mlh{
    line-height: 100vh;
}


/*
    #Grid
    Built using http://codepen.io/matthamlin/pen/ONPjPW

    Grid
        Cell--X
*/

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: .5rem;
}
.grid.no-wrap {
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
}
.grid.top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.grid.bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.grid.stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.grid.middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid.near {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.grid.far {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.grid.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.grid.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.grid.no-margin {
  margin: 0;
}
.grid [class^='cell--'] {
  box-sizing: border-box;
  min-height: 1px;
  padding: .5rem;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.grid [class^='cell--'].top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.grid [class^='cell--'].bottom {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.grid [class^='cell--'].stretch {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
.grid [class^='cell--'].middle {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.grid [class^='cell--'].no-gutter {
  padding: 0;
}
@media screen and (min-width: 0px) {
  .grid .cell--1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--1 {
    margin-left: 8.33333%;
  }
  .grid .cell--2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--2 {
    margin-left: 16.66667%;
  }
  .grid .cell--3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    margin-bottom: 0;
  }
  .grid .cell-offset--3 {
    margin-left: 25%;
  }
  .grid .cell--4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--4 {
    margin-left: 33.33333%;
  }
  .grid .cell--5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--5 {
    margin-left: 41.66667%;
  }
  .grid .cell--6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    margin-bottom: 0;
  }
  .grid .cell-offset--6 {
    margin-left: 50%;
  }
  .grid .cell--7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--7 {
    margin-left: 58.33333%;
  }
  .grid .cell--8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--8 {
    margin-left: 66.66667%;
  }
  .grid .cell--9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    margin-bottom: 0;
  }
  .grid .cell-offset--9 {
    margin-left: 75%;
  }
  .grid .cell--10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--10 {
    margin-left: 83.33333%;
  }
  .grid .cell--11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--11 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 480px) {
  .grid .cell--s1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s1 {
    margin-left: 8.33333%;
  }
  .grid .cell--s2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s2 {
    margin-left: 16.66667%;
  }
  .grid .cell--s3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s3 {
    margin-left: 25%;
  }
  .grid .cell--s4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s4 {
    margin-left: 33.33333%;
  }
  .grid .cell--s5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s5 {
    margin-left: 41.66667%;
  }
  .grid .cell--s6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s6 {
    margin-left: 50%;
  }
  .grid .cell--s7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s7 {
    margin-left: 58.33333%;
  }
  .grid .cell--s8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s8 {
    margin-left: 66.66667%;
  }
  .grid .cell--s9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s9 {
    margin-left: 75%;
  }
  .grid .cell--s10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s10 {
    margin-left: 83.33333%;
  }
  .grid .cell--s11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--s11 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 768px) {
  .grid .cell--m1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m1 {
    margin-left: 8.33333%;
  }
  .grid .cell--m2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m2 {
    margin-left: 16.66667%;
  }
  .grid .cell--m3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m3 {
    margin-left: 25%;
  }
  .grid .cell--m4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m4 {
    margin-left: 33.33333%;
  }
  .grid .cell--m5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m5 {
    margin-left: 41.66667%;
  }
  .grid .cell--m6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m6 {
    margin-left: 50%;
  }
  .grid .cell--m7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m7 {
    margin-left: 58.33333%;
  }
  .grid .cell--m8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m8 {
    margin-left: 66.66667%;
  }
  .grid .cell--m9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m9 {
    margin-left: 75%;
  }
  .grid .cell--m10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m10 {
    margin-left: 83.33333%;
  }
  .grid .cell--m11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--m11 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 980px) {
  .grid .cell--l1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l1 {
    margin-left: 8.33333%;
  }
  .grid .cell--l2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l2 {
    margin-left: 16.66667%;
  }
  .grid .cell--l3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l3 {
    margin-left: 25%;
  }
  .grid .cell--l4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l4 {
    margin-left: 33.33333%;
  }
  .grid .cell--l5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l5 {
    margin-left: 41.66667%;
  }
  .grid .cell--l6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l6 {
    margin-left: 50%;
  }
  .grid .cell--l7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l7 {
    margin-left: 58.33333%;
  }
  .grid .cell--l8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l8 {
    margin-left: 66.66667%;
  }
  .grid .cell--l9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l9 {
    margin-left: 75%;
  }
  .grid .cell--l10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l10 {
    margin-left: 83.33333%;
  }
  .grid .cell--l11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    margin-bottom: 0;
  }
  .grid .cell-offset--l11 {
    margin-left: 91.66667%;
  }
}


/*
    Coloring Elements

*/
.bg__clrs_silver {
    background-color: var(--clrs-silver);
}
.bg__clrs_white {
    background-color: var(--clrs-white);
}
.bg__clrs_gray {
    background-color: var(--clrs-gray);
}
.bg__clrs_black {
    background-color: var(--clrs-black);
}
.bg__clrs_purple {
    background-color: var(--clrs-purple);
}
.bg__clrs_fuchsia {
    background-color: var(--clrs-fuchsia);
}
.bg__clrs_maroon {
    background-color: var(--clrs-maroon);
}
.bg__clrs_red {
    background-color: var(--clrs-red);
}
.bg__clrs_orange {
    background-color: var(--clrs-orange);
}
.bg__clrs_yellow {
    background-color: var(--clrs-yellow);
}
.bg__clrs_lime {
    background-color: var(--clrs-lime);
}
.bg__clrs_green {
    background-color: var(--clrs-green);
}
.bg__clrs_olive {
    background-color: var(--clrs-olive);
}
.bg__clrs_teal {
    background-color: var(--clrs-teal);
}
.bg__clrs_aqua {
    background-color: var(--clrs-aqua);
}
.bg__clrs_blue {
    background-color: var(--clrs-blue);
}
.bg__clrs_navy {
    background-color: var(--clrs-navy);
}

.bg__clr_green1 {
    background-color: var(--clr-green1);
}
.bg__clr_green2 {
    background-color: var(--clr-green2);
}
.bg__clr_blue1 {
    background-color: var(--clr-blue1);
}
.bg__clr_blue2 {
    background-color: var(--clr-blue2);
}
.bg__clr_purple1 {
    background-color: var(--clr-purple1);
}
.bg__clr_purple2 {
    background-color: var(--clr-purple2);
}
.bg__clr_darkgray1 {
    background-color: var(--clr-darkgray1);
}
.bg__clr_darkgray2 {
    background-color: var(--clr-darkgray2);
}
.bg__clr_yellow1 {
    background-color: var(--clr-yellow1);
}
.bg__clr_yellow2 {
    background-color: var(--clr-yellow2);
}
.bg__clr_orange1 {
    background-color: var(--clr-orange1);
}
.bg__clr_orange2 {
    background-color: var(--clr-orange2);
}
.bg__clr_red1 {
    background-color: var(--clr-red1);
}
.bg__clr_red2 {
    background-color: var(--clr-red2);
}
.bg__clr_lightgray1 {
    background-color: var(--clr-lightgray1);
}
.bg__clr_lightgray2 {
    background-color: var(--clr-lightgray2);
}


.clrs_silver {
    color: var(--clrs-silver);
}
.clrs_white {
    color: var(--clrs-white);
}
.clrs_gray {
    color: var(--clrs-gray);
}
.clrs_black {
    color: var(--clrs-black);
}
.clrs_purple {
    color: var(--clrs-purple);
}
.clrs_fuchsia {
    color: var(--clrs-fuchsia);
}
.clrs_maroon {
    color: var(--clrs-maroon);
}
.clrs_red {
    color: var(--clrs-red);
}
.clrs_orange {
    color: var(--clrs-orange);
}
.clrs_yellow {
    color: var(--clrs-yellow);
}
.clrs_lime {
    color: var(--clrs-lime);
}
.clrs_green {
    color: var(--clrs-green);
}
.clrs_olive {
    color: var(--clrs-olive);
}
.clrs_teal {
    color: var(--clrs-teal);
}
.clrs_aqua {
    color: var(--clrs-aqua);
}
.clrs_blue {
    color: var(--clrs-blue);
}
.clrs_blue {
    color: var(--clrs-blue);
}
.clrs_navy {
    color: var(--clrs-navy);
}



.clr_green1 {
    color: var(--clr-green1);
}
.clr_green2 {
    color: var(--clr-green2);
}
.clr_blue1 {
    color: var(--clr-blue1);
}
.clr_blue2 {
    color: var(--clr-blue2);
}
.clr_purple1 {
    color: var(--clr-purple1);
}
.clr_purple2 {
    color: var(--clr-purple2);
}
.clr_darkgray1 {
    color: var(--clr-darkgray1);
}
.clr_darkgray2 {
    color: var(--clr-darkgray1);
}
.clr_yellow1 {
    color: var(--clr-yellow1);
}
.clr_yellow2 {
    color: var(--clr-yellow2);
}
.clr_orange1 {
    color: var(--clr-orange1);
}
.clr_orange2 {
    color: var(--clr-orange2);
}
.clr_red1 {
    color: var(--clr-red1);
}
.clr_red2 {
    color: var(--clr-red2);
}
.clr_lightgray1 {
    color: var(--clr-lightgray1);
}
.clr_lightgray2 {
    color: var(--clr-lightgray2);
}

/*
    Text Styling
    Note we only want to provide classes for things that HTML doesn't handle
*/

.utilities__caps {
    text-transform: uppercase;
}




/*----------------------------------------------------*/
/*                 Special Elements                   */
/*----------------------------------------------------*/

p {
    /*font-size: var(--font-p-size);*/
}

blockquote {
    padding-left: 1em;
    border-left: solid 4px var(--clrs-gray);
    /*font-size: var(--font-bq-size);*/
    margin-left: 0;
    font-style: italic;
}
blockquote > cite {
    /*font-size: var(--font-small-size);*/
    color: #DDDDDD;
}


mark {
    background-color: var(--clrs-yellow);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

h1 {
    /*font-size: var(--font-h1-size);*/
    margin: 0 0;
    padding: 0.67em 0;
}
h2 {
    /*font-size: var(--font-h2-size);*/
    margin: 0 0;
    padding: 0.67em 0;
}
h3 {
    /*font-size: var(--font-h3-size);*/
    margin: 0 0;
    padding: 0.67em 0;
}
h4 {
    /*font-size: var(--font-h4-size);*/
    margin: 0 0;
    padding: 0.67em 0;
}
h5 {
    /*font-size: var(--font-h5-size);*/
    margin: 0 0;
    padding: 0.67em 0;
}
h6 {
    /*font-size: var(--font-h6-size);*/
    margin: 0 0;
    padding: 0.67em 0;
}
small {
    /*font-size: var(--font-small-size);*/
}
body {
    /*font-size: var(--font-base-size);*/
}
code {
    background-color: var(--clr-lightgray1);
    display: block;
    padding: 0.5em 2em;
    border-radius: 15px;
    position: relative;
    white-space: pre-wrap;
}
kbd {
    background-color: var(--clr-lightgray1);
    padding-left: 0.25em;
    padding-right: 0.25em;
}
code:before {
    position: absolute;
    top: 0;
    right: 0;
    content: attr(data-lang);
    border-left: solid 2px var(--clrs-gray);
    border-bottom: solid 2px var(--clrs-gray);
    background-color: var(--clrs-silver);
    padding: 4px 4px;
    border-top-right-radius: 10px;
}

/*
    Buttons
*/


.btn {
    padding: 1em 2em;
    border-radius: 20px;
    outline: 0 !important;
}

.btn--primary {
    color: white;
    background-color: var(--clr-green1);
    border: solid 2px var(--clr-green1);
    transition: 300ms;
}
.btn--primary:hover {
    color: var(--clr-green1);
    background-color: white;
    border: solid 2px var(--clr-green1);
    transition: 300ms;
    outline: 0 !important;
}
.btn--primary:active {
    color: white;
    background-color: var(--clr-yellow1);
    border: solid 2px var(--clr-yellow1);
    transition: 50ms;
    outline: 0 !important;
}

.btn--secondary {
    color: white;
    background-color: var(--clr-blue1);
    border: solid 2px var(--clr-blue1);
    transition: 300ms;
}
.btn--secondary:hover {
    color: var(--clr-blue1);
    background-color: white;
    border: solid 2px var(--clr-blue1);
    transition: 300ms;
    outline: 0 !important;
}
.btn--secondary:active {
    color: white;
    background-color: var(--clr-yellow1);
    border: solid 2px var(--clr-yellow1);
    transition: 50ms;
    outline: 0 !important;
}
.btn--tertiary {
    color: white;
    background-color: var(--clr-purple1);
    border: solid 2px var(--clr-purple1);
    transition: 300ms;
}
.btn--tertiary:hover {
    color: var(--clr-purple1);
    background-color: white;
    border: solid 2px var(--clr-purple1);
    transition: 300ms;
    outline: 0 !important;
}
.btn--tertiary:active {
    color: white;
    background-color: var(--clr-yellow1);
    border: solid 2px var(--clr-yellow1);
    transition: 50ms;
    outline: 0 !important;
}

.btn--fill {
    width: 100%;
}

/*
    Links
*/

a {
    transition: color .4s;
    color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
    transition: color .3s;
    color: #007BE6;
}

.link { text-decoration: none; }
