:root {
    box-sizing: border-box;
}
.nds--center {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.nds--center-col {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.header {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: baseline;
}

.footer {
    display: flex;
    flex: 1 1 33.33%
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nds--height-100 {
    min-height: 100vh;
}
.nds--height-10 {
    min-height: 10vh;
}
.nds--height-95 {
    min-height: 95vh;
}
.nds--height-85 {
    min-height: 85vh;
}
.nds--height-75 {
    min-height: 75vh;
}
.nds--height-25 {
    min-height: 25vh;
}
.nds--height-5 {
    min-height: 5vh;
}
.nds--line-height-5 {
    line-height: 5vh;
}
.nds--container {
    width: 100vw;
    margin: 0 auto;
}
.nds--here {
    background-color: #F4D03F;
    padding: .4em 1em;
}
.nds--nostyle {
    list-style-type: none;
    padding-left: 0;
}
.nds--clr-snap {
    color: #FFFC00;
}
.nds--clr-twit {
    color: #00aced;
}

.page--content-quicklinks {
    display: flex;
    width: 100vw;
    flex: 1 1 20vw;
    justify-content: space-around;
    align-items: center;
}
.nds--underline {
    text-decoration: underline;
}

.nds--btn {
	display: inline-block; /* This helps with anchor tags that we want to look like buttons */
	background-color: white;
	padding: .5em 1em;
	border-radius: 10px;
	border: solid 3px #26A65B;
	color: #26A65B;
	text-decoration: none; /* Another anchor tag only needed style */
}

.nds--btn:hover {
	background-color: #26A65B;
	border: solid 3px #26A65B;
	color: white;
	transition: ease 350ms;
}

.nds--btn:active {
	outline: none;
	background-color: #3FC380;
	transition: ease 100ms;
	border: solid 3px #3FC380;
	color: white;
}
.nds--btn:focus {
	outline: none;
}

.bg--nds-white {
    background-color: #FFFFFF;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .nds--container {
        width: 95vw;
        margin:0 auto;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .nds--container {
        width: 90vw;
        margin:0 auto;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .nds--container {
        width: 80vw;
        margin:0 auto;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .nds--container {
        width: 70vw;
        margin:0 auto;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .nds--container {
        width: 60vw;
        margin:0 auto;
    }
}
