// Typography scss file
@import "_vars";

html {
    font-family: "Product Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
    color: $font-color;
    background-color: $white;

    @media (min-width: 50em) {
        font-size: 22px;
    }

    @media (min-width: 75em) {
        font-size: 24px;
        line-height: 1.6;
    }
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1, .h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2, .h2 {font-size: 2.369em;}

h3, .h3 {font-size: 1.777em;}

h4, .h4 {font-size: 1.333em;}

small, .small {font-size: 0.75em;}

blockquote {
    border-left: solid 4px $yellow;
    margin: 1em 1.414em;
    padding: 0.25em 0.5em;
}

.link {
    color: $yellow;
    text-decoration: none;
    transition: color 5ms;
    &:hover,
    &:active {
        color: $green;
        text-decoration: none;
    }
}

.link--active {
    color: $green;
    text-decoration: none;
    transition: color 5ms;
    &:hover,
    &:active {
        color: $yellow;
        text-decoration: none;
    }
}

.link--special {
    color: $blue;
    text-decoration: none;
    transition: color 5ms;
    &:hover,
    &:active {
        color: $green;
        text-decoration: none;
    }
}

.highlight {
    background-color: $yellow;
    display: inline-block;
}

.no--margin {
    margin: 0 0;
}
