@import "_reset.scss";
// @import "_normalize.scss";
@import "_typo.scss";
@import "_flexgrid.scss";

// Playing around with a background gradient
// html {
//     background: rgba(255,255,255,1);
//     background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%);
//     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,1)), color-stop(100%, rgba(244,208,63,1)), color-stop(99%, rgba(244,208,63,1)), color-stop(100%, rgba(244,208,63,1)));
//     background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%);
//     background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%);
//     background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%);
//     background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%, rgba(244,208,63,1) 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4d03f', GradientType=0 );
// }



.color--blue {
    color: $blue;
}
.bg--blue {
    background-color: $blue;
}
.color--yellow {
    color: $yellow;
}
.bg--yellow {
    background-color: $yellow;
}
.color--green {
    color: $green;
}
.bg--green {
    background-color: $green;
}

.header {
    height: 100vh;
    width: 100vw;
}
.header--title,
.header--subtitle {
    text-align: center;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.horizontal--center {
    text-align: center;
}
.page {
    min-height: 100vh;
    width: 100vw;
}
.li--inline {
    display: inline;
}
.page--nav {
    padding-top: 2em;
}
.page--content,
.footer {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 50em) {
        width: 75vw;
    }

    @media (min-width: 75em) {
        width: 60vw;
    }
}
.project--name {
    display: inline-block;
}

// Resume.html
.page--contact {
    text-align: center;
    padding: 1em 0;
}
.contact {
    margin: 0 0;
}
.ul--styled {
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: 0.5em;
}
.li--spacing {
    padding: 0.15em 0;
}
.ul--nested {
    list-style-type: circle;
    list-style-position: inside;
}

.tm1 {
    margin-top: 1em;
}
.tm2 {
    margin-top: 2em;
}
.footer {
    text-align: center;
}
.highlight-color-only {
    color: $blue;
}
