/* Basscss Utility Headings */

.h00 { font-size: 4rem } /* --h00 */
.h0 {  font-size: 3rem } /* --h0 */

@media (min-width: 52em) { /* --breakpoint-md */
  .h00-responsive { font-size: 8vw; } /* --h00-responsive */
  .h0-responsive {  font-size: 6vw; } /* --h0-responsive */
  .h1-responsive {  font-size: 4vw; } /* --h1-responsive */
}

@media (min-width: 96em) { /* --breakpoint-xl */
  .h00-responsive { font-size: 7.68vw; } /* --h00-responsive-max */
  .h0-responsive {  font-size: 5.76vw; } /* --h0-responsive-max */
  .h1-responsive {  font-size: 4.84vw; } /* --h1-responsive-max */
}
/*
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-xl (min-width: 96em);

:root {
  --h00:    4rem;
  --h0:     3rem;
  --h00-responsive: 8vw;
  --h0-responsive:  6vw;
  --h1-responsive:  4vw;
  --h00-responsive-max: 7.68rem;
  --h0-responsive-max:  5.76rem;
  --h1-responsive-max:  3.84rem;
}
*/
