/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.HolyGrail {
    display:  -webkit-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;
    height: 100%; /* 1, 3 */
        -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.HolyGrail-header,
.HolyGrail-footer {
    -webkit-box-flex: 0;
        -webkit-flex: none;
            -ms-flex: none;
                flex: none; /* 2 */
}

.HolyGrail-body {
    display:  -webkit-box;
    display: -webkit-flex;
    display:     -ms-flexbox;
    display:         flex;
    -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto; /* 2 */
         -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
     -webkit-flex-direction: column;
         -ms-flex-direction: column;
             flex-direction: column;
    padding: 1.5em;
}

.HolyGrail-content {
    margin-top: 1.5em;
}

.HolyGrail-nav {
    -webkit-box-ordinal-group: 0;
                -webkit-order: -1;
               -ms-flex-order: -1;
                        order: -1;
}

.HolyGrail-nav,
.HolyGrail-ads {
    padding: 1em;
    border-radius: 3px;
    background: rgba(147, 128, 108, 0.1);
}

@media (min-width: 768px) {
    .HolyGrail-body {
            -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .HolyGrail-content {
        -webkit-box-flex: 1;
            -webkit-flex: 1;
                -ms-flex: 1;
                    flex: 1;
        padding: 0 2em;
        margin: 0;
    }
    .HolyGrail-nav, .HolyGrail-ads {
        -webkit-box-flex: 0;
            -webkit-flex: 0 0 12em;
                -ms-flex: 0 0 12em;
                    flex: 0 0 12em;
    }
}
