.aside {
    display: none;
}
@media screen and (min-width: 1200px){
    .aside {
        display: block;
        position: fixed;
        right: 5px;
        top: 50%;
        width: 15%;
        transform: translateY(-50%);
    }
    .aside a {
        transition: color .4s;
        color: #265C83;
    }

    .aside a:link,
    .aside a:visited { color: #265C83; }
    .aside a:hover   { color: #7FDBFF; }
    .aside a:active  {
        transition: color .3s;
        color: #007BE6;
    }

    .aside.link { text-decoration: none; }



    .aside a b {
        display: block;
    }
    .aside a {
        text-decoration: none;
        color: black;
    }
    .aside a:hover {
        text-decoration: none;
        color: black;
    }

    .aside li {
        list-style: upper-roman;
    }
}

.hover-link + i {
    display: none;
}
