.aside {
    display: none;
}
@media screen and (min-width: 1200px){
    .aside {
        display: block;
        position: fixed;
        right: 5px;
        top: 50%;
        width: 15%;
        transform: translateY(-50%);
    }
    .aside a {
        transition: color .4s;
        color: #265C83;
    }

    .aside a:link,
    .aside a:visited { color: #265C83; }
    .aside a:hover   { color: #7FDBFF; }
    .aside a:active  {
        transition: color .3s;
        color: #007BE6;
    }

    .aside.link { text-decoration: none; }



    .aside a b {
        display: block;
    }
    .aside a {
        text-decoration: none;
        color: black;
    }
    .aside a:hover {
        text-decoration: none;
        color: black;
    }

    .aside li {
        list-style: upper-roman;
    }
}

.hover-link + i {
    display: none;
    height: 0;
    overflow: visible;
}
/*.hover-link {
    border-right: solid 1px #7FDBFF;
}*/

blockquote {
    border-left: solid 4px #0074D9;
}
blockquote p {
    margin-left: 15px;
}

@media screen and (max-width: 900px){
    img {
        margin: 0 auto;
        max-width: 75vw;
    }
}
@media screen and (min-width: 900px){
    img {
        margin: 0 auto;
        max-width: 40vw;
    }
}
.fig-fix {
    margin: 0 0 0 0;
}
