.container {
  max-width: 800px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.value-prop {
  margin-top: 1rem; }
.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;}
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }
.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; }
.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0; }
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0; }
.code-example-body {
  white-space: pre;
  word-wrap: break-word }
.example {
  position: relative;
  margin-top: 4rem; }
.example-header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem; }
.example-description {
  margin-bottom: 1.5rem; }
.example-screenshot-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #eee;
  height: 250px; }
.example-screenshot {
  width: 100%;
  height: auto; }
.example-screenshot.coming-soon {
  width: auto;
  position: absolute;
  background: #eee;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }
.navbar {
  display: none; }

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}

.center-text {
    text-align: center;
}

.button.button-secondary,
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
  color: #FFF;
  background-color: #F9C11C;
  border-color: #F9C11C; }
.button.button-secondary:hover,
button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
input[type="button"].button-secondary:hover,
.button.button-secondary:focus,
button.button-secondary:focus,
input[type="submit"].button-secondary:focus,
input[type="reset"].button-secondary:focus,
input[type="button"].button-secondary:focus {
  color: #FFF;
  background-color: #F38181;
  border-color: #F38181; }

.button.button-tertiary,
button.button-tertiary,
input[type="submit"].button-tertiary,
input[type="reset"].button-tertiary,
input[type="button"].button-tertiary {
    color: #FFF;
    background-color: #0D8549;
    border-color: #0D8549;
}
.button.button-tertiary:hover,
button.button-tertiary:hover,
input[type="submit"].button-tertiary:hover,
input[type="reset"].button-tertiary:hover,
input[type="button"].button-tertiary:hover,
.button.button-tertiary:focus,
button.button-tertiary:focus,
input[type="submit"].button-tertiary:focus,
input[type="reset"].button-tertiary:focus,
input[type="button"].button-tertiary:focus {
    color: #FFF;
    background-color: #7DB9B3;
    border-color: #7DB9B3;
}


.box-line {
    border: solid black 2px;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #ffc40d;
}
progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #ffc40d;
}

progress::-moz-progress-bar {
  background-color: red;
}

.gray-box {
    background-color: #dddddd;
    border-radius: 10px;
}
.green-box {
    background-color: #2ECC40;
    border-radius: 10px;
}
.orange-box {
    background-color: #FF851B;
    border-radius: 10px;
}


.text-align-center {
    text-align: center;
}

.margin-bottom-fix {
    margin-bottom: 0px !important;
}
.margin-hotfix {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.card {
    padding: 10px;
    background-color: #fff;

    margin-bottom: 2em;
}
.card:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
span.post-link {
    float: right;
}
.paper-btn {
    display: block;
    background-color: #33C3F0;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.paper-btn:hover {
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.24);
    text-decoration: none;
    color: white;
    background-color: #1EAEDB;
}


.light-blue {
    background-color: #95E1D3;
}

.alert-box {
    border-radius: 10px;
}
.box {
    padding: 10px;
    margin-bottom: 10px;
}
.number-text {
    color: #78BBE6;
}

.fix-height {

}


.center-block {
    text-align: center;
}
.center-content {
    display: inline-block;
    width: 50%;
}

a {
  transition: color .4s;
  color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }


img.value-img {
    height: 60px;
    width: 56px;
}


.alert--red {
    background-color: #FF4136;
}
.alert--green {
    background-color: #2ECC40;
}

.rounded {
    border-radius: 10px;
}

.flex-container {
    display: flex;
	flex-wrap: wrap;
	max-width: 60rem;
}
.box {
    min-width: 15em;
    margin: 10px;
}

@media screen and (min-width: 1200px){
    .box {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;

    }
}

.fab {
    border-radius: 50%;
    background-color: #0074D9;
    padding: 15px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: #AAAAAA 0px 5px;
    z-index: 100;
}

.fab:active {
    background-color: #7FDBFF;
    box-shadow: #AAAAAA 0px 0px;
    transform: translateY(5px);
}
